.postcard__container {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 20%);
  margin-bottom: 5rem;
}

.postcard__container--topbar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    to right,
    #7475f9 40%,
    #7776f9 45%,
    #6c75ea 50%,
    #6a88ee 70%,
    #6896f1 90%,
    #77a3fa 100%
  );
  border-bottom: 2px solid #eeeeee;
  color: #fff;
  align-items: center;
}

.postcard__container--topbar__delete {
  margin-right: 1.25rem;
}

.postcard__container--username {
  display: flex;
  align-items: center;
  padding: 1.5rem 2.5rem;
}

.postcard__username--image {
  width: 5rem;
  height: 5rem;
  margin-right: 1.5rem;
}

.postcard__username--image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.postcard__container--content {
  height: 72.5%;
  padding: 2rem 2.5rem;
}

.postcard__content--para {
  color: #222222;
  margin-bottom: 5rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 1rem 0.5rem;
}

.postcard__content--image {
  height: 30rem;
}

.postcard__content--image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.postcard__container--actionbtns {
  display: flex;
}

.postcard__container--actionbtns div {
  flex: 1;
  padding: 2rem;
  border-top: 2px solid #eeeeee;
}

.postcard__actionbtns--main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postcard__actionbtns--main span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
