.navbar__main {
  background-color: #7475f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar__title {
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar__title a {
  text-decoration: none;
  color: white;
}

.navbar__title span {
  color: #5ce8d3;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn > span.active {
  transform: rotate(45deg);
}
.menu__btn > span.active::before {
  top: 0;
  transform: rotate(0);
}
.menu__btn > span.active::after {
  top: 0;
  transform: rotate(90deg);
}
.menu__box {
  visibility: visible;
  left: 0;
}

.hamburger-menu {
  position: relative;
  z-index: 90;
  transform: translateX(7.5px);
}

.menu__btn {
  width: 25px;
  display: none;
  height: 25px;
  cursor: pointer;
}

.menu__btn > span {
  display: block;
  position: absolute;

  width: 28px;
  height: 2px;

  background-color: #fff;

  transition-duration: 0.25s;
}
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #fff;

  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* Media */
@media (max-width: 800px) {
  .navbar__nav {
    display: none;
  }
  .menu__btn {
    display: block;
  }
}
