.feed__container{
    padding: 0rem 10rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.feed__container--head {
    padding-top: 15rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
    color: #7475f9;
    font-weight: bold;    
}

.feed__container .postcard__container{
   width: 60rem;
   margin-bottom: 10rem;
}