.footer__container {
  padding: 3rem;
  margin-top: 5rem;
  /* height: 37.5rem; */
  background-color: red;
  background: linear-gradient(
    to right,
    #7475f9 40%,
    #7776f9 45%,
    #6c75ea 50%,
    #6a88ee 70%,
    #6896f1 90%,
    #77a3fa 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  margin-top: 2rem;
  font-size: 3.5rem;
  letter-spacing: 10px;
  color: white;
}

.footer__title span {
  color: #5ce8d3;
}

.footer__ul {
  margin: 4rem;
}

.footer__ul a {
  margin-right: 5rem;
  padding: 1rem 2rem;
  transition: all 0.4s;
  border-bottom: 2px solid #50c9b7;
  border-radius: 0;
}

.footer__ul li:last-child {
  margin-right: 0rem;
}

.footer__ul a:hover {
  color: white;
  transform: translateY(-5px);
}

.footer__credit {
  text-transform: uppercase;
  margin-top: 3rem;
  font-size: 1.25rem;
  letter-spacing: 10px;
  color: white;
}

.footer__credit span a {
  text-decoration: none;
  color: #5ce8d3;
}

.footer__name {
  display: inline-block;
  transition: all 0.2s;
}

.footer__name:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  transform: scale(1.2) skewY(-1deg);
}

/* Media */

@media (max-width: 900px) {
  .footer__ul .nav__list--li:last-child a {
    margin-right: 0;
  }
}

@media (max-width: 550px) {
  .footer__ul .nav__list--li a {
    margin-right: 2rem;
  }
}

@media (max-width: 430px) {
  .footer__ul {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .footer__ul .nav__list--li {
    width: 100%;
    text-align: center;
  }
  .footer__ul .nav__list--li a {
    margin-right: 0rem;
    width: 80%;
    font-size: 1.5rem;
    background-color: transparent;
    border-bottom: 2px solid #50c9b7;
    border-radius: 0;
    margin-bottom: 4rem;
  }
  .footer__ul .nav__list--li:last-child a {
    margin-bottom: 0;
  }
}

@media (max-width: 375px) {
  .footer__ul .nav__list--li a {
    /* margin-right: 0rem; */
    width: 90%;
  }
  .footer__credit {
    text-align: center;
    line-height: 4rem;
  }
  .footer__credit span a {
    font-size: 2rem;
  }
}
