.userprofile__container {
  min-height: 80vh;
  padding: 2rem 10rem;
  padding-top: 13rem;
}

.userprofile__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.userprofile__main {
  display: flex;
}

.userprofile__info {
  flex: 1;
}

.userprofile__posts {
  flex: 2;
}

.userprofile__header--container {
  display: flex;
  align-items: center;
}

.userprofile__header--container h1 {
  color: #4d4d4d;
  font-size: 1.75rem;
  letter-spacing: 2px;
  margin-left: 2.5rem;
}

.userprofile__header--image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background-color: #eee;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userprofile__header--image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.userprofile__header--btn {
  background: linear-gradient(
    to right,
    #7475f9 40%,
    #7776f9 45%,
    #6c75ea 50%,
    #6a88ee 70%,
    #6896f1 90%,
    #77a3fa 100%
  );
  color: white;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s;
}

.userprofile__header--btn:hover {
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.5);
}

.userprofile__info {
  height: 50rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 20%);
  margin-right: 4rem;
}

.userprofile__posts {
  height: 50rem;
  overflow-y: scroll;
  padding: 0 1rem;
}

.userprofile__posts::-webkit-scrollbar {
  width: 5px;
}

.userprofile__posts::-webkit-scrollbar-track {
  background-color: rgb(248, 248, 248);
}

.userprofile__posts::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to right,
    #7475f9 40%,
    #7776f9 45%,
    #6c75ea 50%,
    #6a88ee 70%,
    #6896f1 90%,
    #77a3fa 100%
  );
  border-radius: 50px;
}
