.home__feat--card {
  flex: 1;
  min-width: 30rem;
  max-width: 35rem;
  min-height: 33rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.home__feat--card h1 {
  color: #222222;
  font-size: 2rem;
  margin-top: 3rem;
}

.home__feat--card p {
  color: #504d4d;
  font-size: 1.4rem;
  margin-top: 3rem;
  letter-spacing: 3px;
  line-height: 30px;
}

.home__feat--card:not(:last-child) {
  margin-right: 6rem;
}

/* Media */

@media (max-width: 1003px) {
  .home__feat--card {
    margin-bottom: 7.5rem;
  }
}

@media (max-width: 635px) {
  .home__feat--card {
    min-height: 42.5rem;
    max-width: 40rem;
    justify-content: center;
  }
  .home__feat--card:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .home__feat--card h1 {
    font-size: 2.5rem;
  }
  .home__feat--card p {
    font-size: 1.6rem;
  }
}

@media (max-width: 350px) {
  .home__feat--card svg {
    width: 55px;
    height: 55px;
  }
}
